*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: inter;
}

.container{
    background: #5956CF;
}

nav{
    padding: 15px 85px;
    background: #fff;
    border-bottom: 1px solid black;
    color: black;
}


ul{
    padding: 8px 0;
    float: right;
}

li{
    list-style: none;
    display: inline-block;
    margin-inline: 22px;
}

main{
    padding: 94px 202px 94px 85px;
}

.title{
    font-size: 3.6rem;
    margin-bottom: 24px;
}

.subtitle{
    font-size: 1.1rem;
    line-height: 1.4;
}

section{
    color: black;
    margin: 60px auto;
    text-align: center;
    background-color: #F5F7FA;
    padding: 32px;
    width: 65vw;
    border-radius: 12px;
}

.heading2{
    font-size: 2.8rem;
    padding-bottom: 22px;
}

.text_content{
    line-height:1.4;
}

footer{
    background-color: #5956CF;
    text-align: center;
    padding: 8px;
}