*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: inter;
    height: 100vh;
}

.container{
    background-color: #5956CF;
}

nav{
    padding: 15px 85px;
    background: #fff;
    border-bottom: 1px solid black;
}

main{
    text-align: center;
    padding: 134px 202px;
}

.title{
    font-size: 3.6rem;
    margin-bottom: 24px;
}

.subtitle{
    font-size: 1.1rem;
    line-height: 1.4;
}

